@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "RockoUltraFLF";
  src: url("../../fonts/RockoUltraFLF.ttf");
  font-display: swap;
}
@layer base {
  html,
  body {
    @apply bg-gradient-to-tl from-cyan-300 via-blue-600 to-sky-300;
  }
}
